In [5]:
import pandas as pd

df_full = pd.read_csv("transformed_full.csv")
df_inc = pd.read_csv("transformed_incremental.csv")

In [6]:
import sqlite3
from pathlib import Path

# Create 'loaded' folder
Path("loaded").mkdir(parents=True, exist_ok=True)

# Connect to SQLite
conn = sqlite3.connect("loaded/full_data.db")

# Load data
df_full.to_sql("full_data", conn, if_exists="replace", index=False)
df_inc.to_sql("incremental_data", conn, if_exists="replace", index=False)

# Verify the load
preview = pd.read_sql("SELECT * FROM full_data LIMIT 5", conn)
display(preview)

conn.close()

,order_year,order_month,customer_id,quantity,total_cost,sales_bracket,invoice,stockcode,description,invoicedate,price,country,order_day
0,2009.0,2009-01,13085.0,12,83.4,medium,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,2009-01-12 07:45:00,6.95,United Kingdom,2009-01-12
1,2009.0,2009-01,13085.0,12,81.0,medium,489434,79323P,PINK CHERRY LIGHTS,2009-01-12 07:45:00,6.75,United Kingdom,2009-01-12
2,2009.0,2009-01,13085.0,12,81.0,medium,489434,79323W,WHITE CHERRY LIGHTS,2009-01-12 07:45:00,6.75,United Kingdom,2009-01-12
3,2009.0,2009-01,13085.0,48,100.8,high,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",2009-01-12 07:45:00,2.10,United Kingdom,2009-01-12
4,2009.0,2009-01,13085.0,24,30.0,medium,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,2009-01-12 07:45:00,1.25,United Kingdom,2009-01-12